* {
  margin: 0;
}

body {
  /* background-color: #f6f5f2; */
  font-family: "Roboto";
}

/* typography  */
h3,
.nav-links {
  color: white;
  text-decoration: none;
}
.main-dish-info > div {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  margin: 0.51em;
  cursor: pointer;
}
.title,
.p-title {
  font-size: 1.2em;
  font-style: italic;
  margin: 0.35em;
  text-decoration: underline;
  color: #3f72af;
  cursor: pointer;
}
.pop-title > .p-title {
  font-size: 1em;
}
.side-bar > h3 {
  color: #7aba78;
}
.name > h3 {
  color: #7aba78;
}

/* Searched */
.rec-title {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 0.5em;
  text-decoration: underline;
  color: #3f72af;
  cursor: pointer;
}

/* recipe */
.recipe-ingredients > h3 {
  font-size: 1.7em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1em 0;
  color: #70c56d;
}
.instructions > h3 {
  font-size: 1.7em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1em 0;
  color: #70c56d;
}

/* Footer */
.f-name {
  font-size: 0.8em;
  color: #cfd0d1;
  margin: 0;
}
span > b {
  font-style: italic;
  text-shadow: #3f72af;
}
.contact > * {
  font-size: 0.7em;
  align-items: end;
}
i > a {
  text-decoration: none;
}

/* LAYOUT */
.navbar ul > * {
  /* border: solid; */
  margin: 0 0.51em;
  font-size: 1.2em;
}
.navbar {
  background-color: #7aba78;
  display: flex;
  align-items: center;
  padding: 1em 1em;
  padding-top: 1.5em;
  justify-content: center;
}
.btn {
  color: white;
  border: 1.5px solid white;
}
.btn:hover,
.btn:focus {
  background-color: #f8f8f8;
  border: 1.5px solid white;
  color: #cfd0d1;
}
.home-container {
  border-top: 1px solid #bacd92;
  margin: 1em 0;
  padding: 1em 1em;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.main {
  width: 60%;
  /* border: solid; */
}

.main-dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #bacd92;
}
.main-dish-img {
  border: 2px dashed #e2e2e2;
  padding: 1em;
  cursor: pointer;
}
.dishs {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1em;
  margin-top: 1em;
}
.dish-img {
  padding: 0.5em;
  border: 2px dashed #e2e2e2;
  cursor: pointer;
}
.dish-img > img {
  width: 100%;
}

.sidebar {
  width: 25%;
}
.side-bar {
  border-bottom: 3px solid #7aba78;
  margin-bottom: 0.25em;
}
.popular-dish {
  border-top: 3px dotted #e2e2e2;
}
.pop-dish {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cfd0d1;
  cursor: pointer;
}
.pop-dish:last-child {
  border: none;
}
.pop-img {
  /* border: solid; */
  border: 2px dashed #e2e2e2;
  width: 7vw;
  margin-right: 0.2em;
  padding: 0.25em;
}
.pop-img > img {
  width: 100%;
}
.pop-title {
  width: 70%;
}

/* Searched */
.searched {
  margin-top: 1em;
  padding: 1em;
  border-top: 2px solid #7aba78;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: solid; */
}
.recipe-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
  /* border: solid; */
  align-items: center;
}
.recipe {
  padding: 0.5em 0;
}

.rec-img {
  width: 90%;
  border: 2px dashed #dddddd;
  padding: 0.5em;
  cursor: pointer;
}
.rec-img > img {
  width: 100%;
}

/* recipe page */
.recipe-page {
  border-top: 1px solid #bacd92;
  margin: 1em 0;
  padding: 1em 1em;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.recipe-details > * {
  margin: 1em;
}

.recipe-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

.recipe-img {
  width: 75%;
  margin: 0 auto;
}

.recipe-details {
  width: 60%;
}

.summary {
  background-color: #dbdbdb;
  padding: 1.5em;
  margin: 1em 0;
  padding-bottom: 0.1em;
  font-size: 0.9em;
}
a {
  text-decoration: none;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  padding: 0;
}
.ingredients > * {
  margin-right: 1em;
  /* border: solid; */
  margin-bottom: .5em;
}
.instructions > h3,
.recipe-ingredients > h3 {
  border-bottom: 1px solid #bacd92;
}
.ing-name {
  margin: 1em 0;
  font-size: .8em;
}
.steps > ol {
  font-size: 1.1em;
}
li{
  margin: 1.5em 0;
}

.similar-recipes {
  width: 25%;
}
.similar-dish {
  border-top: 3px dotted #e2e2e2;
}
.simi-dish {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cfd0d1;
  cursor: pointer;
}
.simi-dish:last-child {
  border: none;
}
.simi-img {
  /* border: solid; */
  border: 2px dashed #e2e2e2;
  width: 7vw;
  margin-right: 0.2em;
  padding: 0.25em;
}
.simi-img > img {
  width: 100%;
}
.simi-title {
  width: 70%;
}

/* Footer */
footer {
  background-color: #7aba78;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.foot-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2.5em;
  border-bottom: 1.6px solid black;
}
.foot-container > * {
  padding: 1em;
}
.section-1 > *,
.section-2 > * {
  margin: 0.5em 0;
  cursor: pointer;
}
.follow {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
a {
  margin-top: 1em;
}
a:first-child {
  margin: 0;
}
.created {
  height: 13vh;
  padding: 1.5em;
  padding-bottom: 0.5em;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.contact > * {
  margin: 0;
}
