* {
  margin: 0;
}

body {
  background-color: #f6f5f2;
  font-family: "Roboto";
}

/* typography  */
h3,
.nav-links {
  color: white;
  text-decoration: none;
}
.main-dish-info > div {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  margin: 0.51em;
  cursor: pointer;
}
.title,.p-title {
  font-size: 1.2em;
  font-style: italic;
  margin: 0.35em;
  text-decoration: underline;
  color: #3f72af;
  cursor: pointer;
}
.pop-title > .p-title {
  font-size: 1em;
}
.side-bar > h3 {
  color: #7aba78;
}
.name > h3 {
  color: #7aba78;
}

/* Searched */
.rec-title {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 0.5em;
  text-decoration: underline;
  color: #3f72af;
  cursor: pointer;
}

/* layout */
.navbar ul > * {
  /* border: solid; */
  margin: 0 0.51em;
  font-size: 1.2em;
}
.navbar {
  background-color: #7aba78;
  display: flex;
  align-items: center;
  padding: 1em 1em;
  padding-top: 1.5em;
  justify-content: center;
}
.btn {
  color: white;
  border: 1.5px solid white;
}
.btn:hover,
.btn:focus {
  background-color: #f8f8f8;
  border: 1.5px solid white;
  color: #cfd0d1;
}
.home-container {
  border-top: 1px solid #bacd92;
  margin: 1em 0;
  padding: 1em 1em;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.main {
  width: 60%;
  /* border: solid; */
}

.main-dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #bacd92;
}
.main-dish-img {
  border: 2px dashed #e2e2e2;
  padding: 1em;
  cursor: pointer;
}
.dishs {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1em;
  margin-top: 1em;
}
.dish-img {
  padding: 0.5em;
  border: 2px dashed #e2e2e2;
  cursor: pointer;
}
.dish-img > img {
  width: 100%;
}

.sidebar {
  width: 25%;
}
.side-bar {
  border-bottom: 3px solid #7aba78;
  margin-bottom: 0.25em;
}
.popular-dish {
  border-top: 3px dotted #e2e2e2;
}
.pop-dish {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cfd0d1;
  cursor: pointer;
}
.pop-dish:last-child {
  border: none;
}
.pop-img {
  /* border: solid; */
  border: 2px dashed #e2e2e2;
  width: 7vw;
  margin-right: 0.2em;
  padding: 0.25em;
}
.pop-img > img {
  width: 100%;
}
.pop-title {
  width: 70%;
}

/* Searched */
.searched {
  margin-top: 1em;
  padding: 1em;
  border-top: 2px solid #7aba78;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: solid; */
}
.recipe-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
  /* border: solid; */
  align-items: center;
}
.recipe {
  padding: 0.5em 0;
}

.rec-img {
  width: 90%;
  border: 2px dashed #dddddd;
  padding: 0.5em;
  cursor: pointer;
}
.rec-img > img {
  width: 100%;
}
